{% extends 'base.html' %}

{% block content %}
			<div class="jumbotron">
			  <h1 class="display-4">Welcome to My Personal Blog</h1>
			  <p class="lead"></p>
			  <hr class="my-4">
			  <a href="{% url 'blog_post:add-post' %}" class="btn btn-success float-right">Add Post</a>
			  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Checkout my blog posts</a> -->
			</div>

			<div class="container">
				<div class="list-group">
					{% for post in posts|dictsortreversed:"created_date" %}
						<a href="{% url 'blog_post:view-post' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
						    <div class="d-flex w-100 justify-content-between">
						      <h5 class="mb-1">{{ post.title|title }}</h5>
						      <small>{{ post.created_date }}</small>
						    </div>
						    <p class="mb-1">{{ post.body|truncatewords_html:50  }}</p>
						    <small>Author: {{ post.author }}</small>
						    <!-- <a href="{% url 'blog_post:view-post' post.id %}" class="btn btn-info">View</a> -->
				    		<!-- <a href="{% url 'blog:update-post' post.id %}" class="btn btn-primary">Update</a> -->
						</a>
					    {% empty %}
					    <h5 class=" text-center mb-1">No posts yet</h5>
							
					    {% endfor %}
					 
					</div>
			
			</div>
			

	
{% endblock %}
