<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				  <a class="navbar-brand" href="/"><b>My Personal Blog</b></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarText">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				      </li>
				      
				    </ul>
				    <span class="navbar-text">
				      <a href="{% url 'auth_logout' %}" class="btn btn-info text-light">Logout</a> 
				      
				    </span>
				  </div>
			</div>
		</nav>
		<div class="row justify-content-md-center">
	 		<div class="col col-md-5 mt-5">
	 			<div class="card">
				  <div class="card-header">
				   <h3>Change Password</h3>
				  </div>
				  <div class="card-body">
				  	{% if form.errors %}
				  	<div class="alert alert-danger" role="alert">
					  {{ form.errors }}
					</div>
				  	{% endif %}
				    <form method="POST" action="{% url 'auth_password_change' %}">
				    {% csrf_token %}

				    <div class="row">
	                	<label class="col col-md-5" >Old Password</label>
					    {{ form.old_password }} <br /><br />

					    <label class="col col-md-5" >NewPassword</label>
					    {{ form.new_password1 }} <br /><br />
					    
					    <label class="col col-md-5" >New Password Confirmation</label>
					    {{ form.new_password2 }} <br /><br />
					</div>
				    <button type="submit" class="btn btn-primary mt-3">Change password</button>
				</form>
				  </div>
				</div>
				
				
				

				
			</div>
		</div>
	</body>
</html>